
$iris: #6941C6;
$marian_blue: #3E3D7C;
$rebecca_purple: #53389F;
$white: #FFFFFF;
$flash_white: #F6FAFD;
$ghostWhite: #EBEDF6;
$grey: #7B7B7B;
$ligth_grey: #F5F5F7;
$cool_grey: #9295A3;
$ligth_blue: #EBEDF6;
$timberwolf: #D5D5D5;
$onyx: #454545;

$bootstrap_primary: #0D6EFD;
$bootstrap_secondary: #6C757D;
$bootstrap_success: #198754;
$bootstrap_danger: #DC3545;
$bootstrap_warning: #FFC107;
$bootstrap_info: #0DCAF0;

$kyubiLightOrange: #f3b06c;
$kyubiDarkOrange: #fc9320;