
$iris: #6941C6;
$marian_blue: #3E3D7C;
$white: #FFFFFF;
$flash_white: #F6FAFD;
$grey: #7B7B7B;

$bootstrap_primary: #0D6EFD;
$bootstrap_secondary: #6C757D;
$bootstrap_success: #198754;
$bootstrap_danger: #DC3545;
$bootstrap_warning: #FFC107;
$bootstrap_info: #0DCAF0;