//Quicksand

@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/quicksand/Quicksand_Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/quicksand/Quicksand_Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/quicksand/Quicksand_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

//Segoue UI

@font-face {
    font-family: 'Segoe UI';
    src: url('../../assets/fonts/segoe_UI/SegoeUI.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../../assets/fonts/segoe_UI/SegoeUI-SemiBold.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../../assets/fonts/segoe_UI/SegoeUI-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}