.groupModalComponent{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inputSection{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .inputContainer{
            width: 50%;
        }

        button{
            box-sizing: border-box;
            padding: 10px 5px;
        }
    }

    .gridSection{
        height: 400px;
        width: 100%;
        background-color: red;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
}