@import '../../../../../../utils/sassConfig/colors';
@import '../../../../../../utils/sassConfig/fonts';

.noLasyYearsStudentsContainer{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    padding: 50px;
    flex-direction: column;
    gap: 30px;

    p{
        margin: 0px;
        padding: 0px;

        &:first-child{
            font-size: 50px;
            font-weight: bold;
            color: $iris;
        }
        
        &:nth-child(2){
            font-size: 25px;
        }

        &:last-child{
            width: 70%;
            font-size: 20px;
            align-self: center;
            color: $bootstrap_danger;
            font-weight: 550;
            margin-bottom: 50px;
        }
    }
}