@import '../../../../utils/sassConfig/colors';
@import '../../../../utils/sassConfig/fonts';

.customSelectedInput{
    display: flex;
    flex-direction: column;
    gap: 10px;

    label{
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: $cool_grey;
        padding-left: 20px;
    }

    .innerContainer{
        display: grid;
        grid-template-columns: 90% 1fr;

        button{
            border: 5px solid $iris;
            background-color: $iris;
            box-sizing: border-box;
            outline: none;

            border-radius: 0px 40px 40px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 25px;
            height: 100%;
            transition: 0.2s all ease-in-out;

            &:hover{
                cursor: pointer;
                background-color: darken($iris, 10%);
                border: 5px solid darken($iris, 10%);
            }
        }
    }
}

.customLabel{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    padding-left: 20px !important;
    margin-bottom: 0px !important;
    font-weight: 550;
    margin-top: 10px !important;
}

.hourComponentContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 20px;

    .hourSelecter{
        width: 32%;
        height: 60px;
        border-radius: 5px;
        overflow: hidden;

        input{
            border: none;
            outline: none;
            width: 100%;
            padding: 0px;
            margin: 0px;
            height: 100%;
            border-radius: 0px;
            text-align: center;
            font-size: 35px;
            background-color: darken($ligth_grey, 5%);
            box-sizing: border-box;
            border-radius: 10px;

            &:focus{
                border: 3px solid $iris;
                background-color: transparent;
                color: $iris;

                caret-color: $iris;
                caret-shape: bar;
            }
        }
    }

    .spliter{
        height: 100%;
        width: 5%;
        font-size: 50px;
        height: 60px;
        line-height: 45px;
    }

    .handlerMedirian{
        display: flex;
        flex-direction: column;
        width: 20%;
        font-family: 'Quicksand', sans-serif;
        
        button{
            height: 50%;
            border-radius: none;
            border: none;
            font-size: 15px;
            transition: 0.2s ease;

            &.Active{
                background-color: lighten($iris, 30%);
                color: darken($iris, 10%);
                font-weight: bold;
            }

            &:first-child{
                border-radius: 5px 5px 0px 0px;
            }

            &:last-child{
                border-radius: 0px 0px 5px 5px;
            }
        }
    }
}

.detailedInputComponent{
    .react-time-picker__wrapper{
        border: none;
        border-radius: 5px !important;
        padding: 5px 20px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between !important;
        flex-shrink: 0;

        &:focus-within {
            outline: 2px solid $ghostWhite;  // Cambia al color deseado
        }
    }

    .react-time-picker__inputGroup__amPm{
        font-family: 'Quicksand', sans-serif;
    }

    .react-time-picker__inputGroup__input{
        padding: 0px 10px !important;
        border-radius: 0px !important;
    }
}


.detailedInputComponent{
    .react-datetime-picker__wrapper{
        border: none;
        border-radius: 5px !important;
        padding: 5px 10px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between !important;
        flex-shrink: 0;

        &:focus-within {
            outline: 2px solid $ghostWhite;  // Cambia al color deseado
        }
    }

    .react-datetime-picker__inputGroup__input{
        padding: 0px 5px !important;
        border-radius: 0px !important;
    }

    .react-datetime-picker__inputGroup__amPm{
        font-family: 'Quicksand', sans-serif;
    }

    
    .react-datetime-picker__inputGroup__leadingZero {
        visibility: hidden;
    }

    .react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon,
    .react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
        stroke: $iris !important;
    }

    .react-datetime-picker__calendar {
        width: 345px;
    }

    .react-datetime-picker__calendar .react-calendar {
        border-width: thin;
        border-radius: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-family: 'Quicksand', sans-serif;
    }
}