@import '../../../utils/sassConfig/colors';
@import '../../../utils/sassConfig/fonts';

.calendarDetailedModalBody{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .detailedHeader{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Quicksand', sans-serif;

        p{
            margin: 0px;
            padding: 0px;
            font-size: 30px;
            font-weight: 550;
        }

        button{
            height: 80%;
            aspect-ratio: 1;
            border-radius: 50%;
            outline: none;
            border: none;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: $iris;
            transition: 0.2s all ease-in-out;

            &:hover{
                cursor: pointer;
                background-color: darken($iris, 10%);
            }
        }
    }
    
    .eventListAndEditHandler{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: calc(100% - 70px);
        box-sizing: border-box;
        margin-bottom: 20px;

        .eventsContainerBody{
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            padding-right: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .eventEdit{
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            padding: 0px 20px;
            display: flex;
            overflow-x: hidden;
            overflow-y: scroll;

            .colorPickerContainer{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                gap: 20px;
                box-sizing: border-box;
                background-color: white;
                
                p{
                    font-family: 'Quicksand', sans-serif;
                    font-size: 25px;
                }

                button{
                    font-family: 'Quicksand', sans-serif;
                    font-size: 25px;
                    padding: 5px 20px;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    font-weight: 550;

                    color: white;

                    background-color: lighten($bootstrap_success, 10%);
                    &:hover{
                        background-color: $bootstrap_success;
                    }
                }
            }


            .innerEventEditContainer{
                display: flex;
                flex-direction: column;
                gap: 25px;
                width: 100%;
                position: relative;
                
                h3{
                    margin: 0px;
                    padding: 0px;
                    font-family: 'Quicksand', sans-serif;
                    text-align: center;
                    font-size: 30px;
                }

                .textAreaDescripcionts{

                    display: flex;
                    flex-direction: column;
                    font-family: 'Quicksand', sans-serif;

                    label{
                        padding: 0px;
                        margin: 0px;
                        margin-bottom: 10px;
                        margin-left: 20px;
                        font-weight: 600;
                        color: $cool_grey;
                    }

                    textarea{
                        resize: none;
                        border: 2px solid transparent;
                
                        outline: none;
                        font-weight: 550;
                        font-size: 15px;
                        padding: 15px 20px;
                        box-sizing: border-box;
                        margin: 0px;
                        height: 60px;
                        border-radius: 10px;
                        font-family: 'Quicksand';
    
                        &::placeholder{
                            font-family: 'Quicksand';
                        }

                        &:focus{
                            border: 2px solid $ghostWhite;
                        }
                    }
                }

                .eventEditActions{
                    display: flex;
                    justify-content: space-between;
                    align-content: center;

                    button{
                        font-family: 'Quicksand', sans-serif;
                        font-size: 15px;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        box-sizing: border-box;
                        padding: 5px 10px;
                        font-weight: 550;
                        transition: 0.2s all ease-in;
                        color: white;

                        &:hover{
                            cursor: pointer;
                        }

                        &.colorPicker{
                            background-color: $iris;

                            &:hover{
                                background-color: darken($iris, 10%) !important;
                            }
                        }

                        &.save{
                            background-color: lighten($bootstrap_success, 10%);
                            &:hover{
                                background-color: $bootstrap_success;
                            }
                        }

                        &.cancel{
                            background-color: lighten($bootstrap_danger, 10%);
                            &:hover{
                                background-color: $bootstrap_danger;
                            }
                        }
                    }
                }
            }
        }
    }

}