@import '../../../utils/sassConfig/colors';
@import '../../../utils/sassConfig/fonts';

.dropDayContainer{
    width: 250px;
    height: 95%;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid $ghostWhite;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0px;
    

    .dayHeader{
        width: 100%;
        height: auto;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 550;

        p{
            margin: 0px;
            padding: 0px;
        }
    }

    .dropableArea{
        width: 90%;
        height: 90%;
        border-radius: 5px;

        .fc-theme-standard .fc-scrollgrid{
            border: none;
        }

        .fc-theme-standard td, .fc-theme-standard th{
            border-top: 1px solid $ghostWhite;
        }

        .fc-timegrid-col-events{
            margin: 0px;
        }

        .fc {
            box-sizing: border-box;
            width: 100%;
            height: 100%;

            .fc-toolbar{
                display: none;
            }

            .fc-view-harness .fc-timeGridDay-view table tbody tr{
                &.fc-scrollgrid-section.fc-scrollgrid-section-header {
                    display: none;
                }

                & td .fc-scroller-harness.fc-scroller-harness-liquid .fc-scroller.fc-scroller-liquid-absolute .fc-timegrid-body{
                    
                    & .fc-timegrid-cols table tbody tr td{

                        background-color: white;
                    }
                }

                & colgroup col{
                    width: 10px;
                }
            }
        }
    }
}