@import '../../../../utils/sassConfig/colors';
@import '../../../../utils/sassConfig/fonts';

.montlyContainer{
    width: 100%;
    margin-top: 25px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .weekDaysHeader{
        width: 100%;
        height: 50px;
        background-color: $ghostWhite;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
        user-select: none;

        .actions{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            padding: 5px 10px;
            overflow: hidden;

            button{
                height: 100%;
                aspect-ratio: 1;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10%;
                border: none;
                outline: none;
                background-color: $iris;
                color: white;
                transition: 0.2s all ease-in-out;

                &:hover{
                    cursor: pointer;
                    background-color: darken($iris, 15%);
                }
            }
        }

        .dayHeader{
            height: 100%;
            background-color: $ghostWhite;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 550;
        }
    }

    .dayWeeksFormer{
        width: 100%;
        height: calc(100% - 50px);
        display: grid;
        grid-template-columns: 1fr 7fr;
        background-color: $ghostWhite;
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;

        .calendarContent{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-self: center;
        }

        .daysOfMonthSection{
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            box-sizing: border-box;
            border: 2px solid $ghostWhite;
        }
    }
}