@import '../../../../../utils/sassConfig/colors';
@import '../../../../../utils/sassConfig/fonts';

.makeGroupsByCareerIns{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .makeGroupInnerContainer{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 10px;

        .noMoreAsp{
            height: 85%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;

            p{
                margin: 0px;
                padding: 0px;
        
                &:first-child{
                    font-size: 65px;
                    font-weight: bold;
                    color: $iris;
                }
                
                &:nth-child(2){
                    font-size: 30px;
                }
        
                &:last-child{
                    width: 70%;
                    font-size: 20px;
                    align-self: center;
                    color: $bootstrap_danger;
                    font-weight: 550;
                    margin-bottom: 50px;
                }
            }
        }

        .plansInnerHeader{
            width: 100%;
            text-align: center;
            height: 10%;
            position: sticky;
            top: 0;
            background-color: white;
        }

        .gridSectionContainer{
            height: 80%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            overflow: hidden;

            .dynamicHeighContainer{
                width: 70%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                max-height: 90%;
            }
        }

        .explainingTextSection{
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $bootstrap_danger;
            font-weight: 550;

            p{
                margin: 0px;
                padding: 0px;
            }
        }
    }
}